<div class="card" ng-class="{'card--edited': $ctrl.isEdited}">

    <!--Card Not Edited State -->
    <div ng-if="!$ctrl.isEdited">
        <div
            class="form-group"
             ng-click="$ctrl.startEdit()"
             event-focus="click" event-focus-id="{{$ctrl.cardKey}}"
            >
            <!--Action Done-->
            <tr-icon
                icon="check"
                ng-click="$ctrl.markDone()"
                class="card__done-action"
                >
            </tr-icon>

            <!--Action Edit-->
            <tr-icon
                icon="edit"
                ng-click="$ctrl.startEdit()"
                event-focus="click" event-focus-id="{{$ctrl.cardKey}}"
                class="card__edit-action"
                >
            </tr-icon>

            <!--Action Remove-->
            <tr-icon
                icon="remove"
                ng-click="$ctrl.remove()"
                class="card__remove-action"
                >
            </tr-icon>

            <input
                ng-model="$ctrl.card.name"
                class="form-control input-sm card__input"
                ng-class="{'card--done': $ctrl.card.isDone}"
                type="text"
                disabled
                />
        </div>
    </div>

    <!--Card Edited State-->
    <div ng-if="$ctrl.isEdited">
        <div class="form-group">
            <input
                ng-model="$ctrl.card.name"
                class="form-control input-sm card__input"
                id="{{$ctrl.cardKey}}"
                type="text"
                />
        </div>
        <div class="form-group">
            <button ng-click="$ctrl.save()" class="btn btn-success btn-sm">Save</button>
            <button ng-click="$ctrl.cancel()" class="btn btn-default btn-sm">Cancel</button>
        </div>
    </div>
</div>