tr-board.ng-leave
  animation: flipOutX 0.3s
  .board
    animation: flipOutX 0.3s

//.board
//  animation: flipInX 0.3s

.board--new
  animation: none

.board--editing.ng-enter
  animation: flipInX 0.3s

.board--notediting.ng-enter
  animation: fadeIn 0.3s