.board
  position relative
  margin 20px 0 0 0
  padding 10px
  min-height 100px
  border-radius 5px
  cursor pointer
  background $board_bgr
  &:hover
    background $board_bgr - 15%
    .board__star
      opacity 1
      right 15px
    .board__delete
      opacity 1
      right 15px

.board--new
  background: $board_bgr_new
  min-height 100px
  .board_input
    background $card_inp_bgr
    color white
  .board__name
    color $green
  &:hover
    background $board_bgr_new - 15%

.board--starred
  .board__star
    opacity 1
    right 15px

.board__star
  color $white
  position absolute
  top 10px
  opacity 0
  right 0
  transition-property opacity, right
  transition-duration 0.3s, 0.3s
  font-size: 16px
  &:hover
    font-size 18px

.board__delete
  color $red
  position absolute
  bottom 10px
  opacity 0
  right 0
  font-size 20px
  transition-property opacity, right
  transition-duration 0.3s, 0.3s
  &:hover
    font-size 22px