cardAction(Color, Right)
  cursor pointer
  position absolute
  margin auto
  height 21px
  font-size 16px
  top 0
  bottom 0
  opacity 0
  right Right
  color Color
  transition-property right, opacity
  transition-duration 0.3s, 0.3s
  &:hover
    color Color - 20%

.card
  position relative
  &:hover
    .card__done
      right 42px
      opacity 1
    .card__edit
      right 24px
      opacity 1
    .card__remove
      right 9px
      opacity 1

.card__input
  cursor pointer !important
  &:hover
    background $card_bgr + 15%

.card--new
  cursor pointer
  .card__name
    color $green

.card--edited
  .card__input
    cursor auto !important

.card__done
  cardAction($green, 30px)

.card__edit
  cardAction($gray, 15px)

.card__remove
  cardAction($red, 0)