$board_bgr = rgb(48,48,48)
$board_bgr_new = rgb(48,48,48)
$list_bgr = rgb(48,48,48)
$list_input_name_bgr = rgb(48,48,48)
$card_bgr = rgb(255, 255, 255)
$card_inp_bgr = #333

$gray = rgb(128, 128, 128)
$red = rgb(228,55,37)
$green = rgb(11, 203, 154)
$yellow = rgb(243, 156, 18)
$white = white
