<div class="col-xs-12 col-sm-6 col-md-4">
    <!--Not Edited State-->
    <div ng-click="$ctrl.isEdited = true" ng-if="!$ctrl.isEdited" class="list list--new">
        <span class="list__header_new_name">New List</span>
    </div>

    <!--Edited State-->
    <div ng-if="$ctrl.isEdited" class="list list--new">
        <div class="form-group">
            <label for="newListName" class="control-label">Title</label>
            <input ng-model="$ctrl.listName" class="form-control input-sm" type="text" id="newListName"/>
        </div>
        <div class="form-group">
            <button ng-click="$ctrl.save()" class="btn btn-success btn-sm">Save</button>
            <button ng-click="$ctrl.cancel()" class="btn btn-default btn-sm">Cancel</button>
        </div>
    </div>
</div>

