/*Animation*/
.board--new
  animation: none
/*Animation END*/

.board--new
  background: $board_bgr_new
  min-height 100px
  .board_input
    background $card_inp_bgr
    color white
  .board__name
    color $green
  &:hover
    background $board_bgr_new - 15%