<div class="col-xs-12 col-sm-6 col-md-4">
    <!--Not Editable State-->
    <div ng-click="$ctrl.isEdited = true" ng-if="!$ctrl.isEdited" class="board board--new">
        <span class="board__name">New Board</span>
    </div>

    <!--Editable State-->
    <div ng-if="$ctrl.isEdited" class="board board--new">
        <div class="form-group">
            <label class="control-label" for="newBoardName">Title</label>
            <input ng-model="$ctrl.boardName" class="form-control input-sm" type="text" id="newBoardName" value=""/>
        </div>
        <div class="form-group">
            <button ng-click="$ctrl.save()" class="btn btn-success btn-sm">Save</button>
            <button ng-click="$ctrl.cancel()" class="btn btn-default btn-sm">Cancel</button>
        </div>
    </div>
</div>